.taskcard_container {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 140px;
    width: 100%;
    border-radius: 6px;
    background-color: #E8F3F6; /* 預設背景色 */
    position: relative;
    overflow: hidden;
}

.taskcard_container::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.05);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;
}

.taskcard_container:active::after {
    opacity: 1;
  }

/* 🟥 逾期任務 */
.taskcard_bg_overdue {
    background-color: #F6E8E8;
}

/* ✅ 完成任務 */
.taskcard_bg_completed {
    background-color: #F4F6EC;
}

/*少於 7 天*/
.taskcard_bg_warning {
    background-color: #E8F3F6;
}

.taskcard_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 11px;
    margin-left: 11px;
}

.taskcard_content {
    display: flex;
    flex-direction: column;
    margin-left: 11px;
    margin-top: 11px;
    width: 100%;
}

.taskcard_text {
    font-size: 16px;
    margin: 0;
    margin-bottom: 6px;
}

.taskcard_time {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-right: 11px;
    margin-bottom: 11px;
}

/* ✅ 預設倒數框 */
.taskcard_timetext {
    height: 31px;
    width: 94px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 31px;
    margin: 0;
    position: absolute;
    right: 11px;
    bottom: 11px;
}

/*預設*/
.taskcard_timetext_default {
    background-color: #89A8B2;
}

/*少於 7 天*/
.taskcard_timetext_warning {
    background-color: #89A8B2;
}

/*當天到期*/
.taskcard_timetext_due_today {
    background-color: #EFB89B;
}

/*逾期*/
.taskcard_timetext_overdue {
    background-color: #EF9B9B;
}

/* ✅ 完成任務的 Icon */
.taskcard_completed_icon {
    font-size: 32px;
    color: #798777;
    position: absolute;
    right: 11px;
    bottom: 11px;
}


