#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
}

.pj-name-box {
  display: flex;
  padding-top: 15px;
  flex-direction: row;
}

.project-name {
  font-size: 18px;
  margin: 0;
}

.edit-icon {
  margin-left: 5px;
}

.encouragement-wall {
  margin-top: 15px;
  position: relative;
}

.wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wall-mask {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: white;
  opacity: 0.8;
  transition: height 0.3s ease-in-out;
}

.wall-text {
  position: absolute;
  font-size: 14px;
  margin: 0;
  bottom: 4px;
  right: 10px; 
}

.option {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.op1 {
  display: flex;
  height: 88px;
  width: 150px;
  background-color: #89A8B2;
  border-radius: 6px;
  margin-bottom: 20px;
}

.op2 {
  display: flex;
  height: 88px;
  width: 150px;
  background-color: #A2B29F;
  border-radius: 6px;
  margin-bottom: 20px;
}

.op-text {
  font-size: 16px;
  margin: auto;
  padding: auto;
  color: white;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
